<a href="https://colab.research.google.com/github/mvq23/python_23/blob/main/Jupyter/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 'pd.Series' es un objeto tipo array **unidimensional** donde cada elemento tiene un nombre (índice, no necesariamente numérico)
s = pd.Series([7, 18, 22, 4], index=["Juan", "Emilio", "Rosa", "Tania"])

In [ ]:
s

Juan       7
Emilio    18
Rosa      22
Tania      4
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

Index(['Juan', 'Emilio', 'Rosa', 'Tania'], dtype='object')

In [ ]:
s["Juan"]

7

In [ ]:
pop = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
pop

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
pop["Ohio"]

35000

In [ ]:
type(pop)

dict

In [ ]:
populations = pd.Series(pop)

In [ ]:
type(populations)

pandas.core.series.Series

In [ ]:
populations

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
populations["Ohio"]

35000

In [ ]:
populations * 1.06 ** 2

Ohio      39326.0
Texas     79775.6
Oregon    17977.6
Utah       5618.0
dtype: float64

In [ ]:
populations > 10000

Ohio       True
Texas      True
Oregon     True
Utah      False
dtype: bool

In [ ]:
populations[populations > 10000]

Ohio      35000
Texas     71000
Oregon    16000
dtype: int64

In [ ]:
import numpy as np

In [ ]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, np.nan]
}

In [ ]:
type(data)

dict

In [ ]:
#Dataframe
df = pd.DataFrame(data)

In [ ]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  NaN

In [ ]:
datos = [
    {
        'nombre': 'Fer',
        'apellido': 'Castro',
        'email': 'fer.castro@gmail.com',
        'edad': 30,
    },
    {
        'nombre': 'Ana',
        'apellido': 'García',
        'email': 'ana.garcia@hotmail.com',
        'edad': 34,
    },
    {
        'nombre': 'Juan',
        'apellido': 'Lopez',
        'email': 'juan.lopez@gmail.com',
        'edad': 26,
    }
]

In [ ]:
type(datos)

list

In [ ]:
len(datos)

3

In [ ]:
df2 = pd.DataFrame(datos)

In [ ]:
df2

  nombre apellido                   email  edad
0    Fer   Castro    fer.castro@gmail.com    30
1    Ana   García  ana.garcia@hotmail.com    34
2   Juan    Lopez    juan.lopez@gmail.com    26

In [32]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/Titanic.txt")

In [33]:
df.shape

(1309, 14)

In [34]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [39]:
cars = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Data/cars.xlsx")

In [40]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [41]:
cars2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Data/cars.xlsx", sheet_name="metadata-cars")

In [42]:
cars2.head()

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan

In [45]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [46]:
cars.tail()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,42573,2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,26135,24641,1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,35145,33112,2.5,5.0,208,20,27,3823,109,186

In [47]:
cars.shape

(428, 15)

In [48]:
cars.sample(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
386,Toyota,Camry LE V6 4dr,Sedan,Asia,Front,22775,20325,3.0,6.0,210,21,29,3296,107,189
92,Chrysler,Sebring 4dr,Sedan,USA,Front,19090,17805,2.4,4.0,150,22,30,3173,108,191
413,Volkswagen,Jetta GL,Wagon,Europe,Front,19005,17427,2.0,4.0,115,24,30,3034,99,174
285,Mercury,Sable GS,Wagon,USA,Front,22595,20748,3.0,6.0,155,19,26,3488,109,198
36,BMW,330Ci convertible 2dr,Sedan,Europe,Rear,44295,40530,3.0,6.0,225,19,28,3616,107,177

In [49]:
cars.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [50]:
cars.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP             int64
Invoice          int64
EngineSize     float64
Cylinders      float64
Horsepower       int64
MPG_City         int64
MPG_Highway      int64
Weight           int64
Wheelbase        int64
Length           int64
dtype: object

In [51]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    int64
 6   Invoice      428 non-null    int64
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG_City     428 non-null    int64
 11  MPG_Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheelbase    428 non-null    int64
 14  Length       428 non-null    int64
dtypes: float64(2), int64(8), object(5)
memory usage: 50.3+ KB

In [52]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [53]:
cars.describe()

,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,428.000000,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,32774.855140,30014.700935,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,19431.716674,17642.117750,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,10280.000000,9875.000000,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,20334.250000,18866.000000,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,27635.000000,25294.500000,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,39205.000000,35710.250000,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,192465.000000,173560.000000,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [54]:
type(cars)

pandas.core.frame.DataFrame

In [55]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [57]:
cars.MPG_Highway.max()

66

In [58]:
cars.MPG_Highway.min()

12

In [60]:
cars.MPG_Highway.mean()

26.843457943925234