<a href="https://colab.research.google.com/github/mvq23/python_23/blob/main/Jupyter/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

In [ ]:
# 'pd.Series' es un objeto tipo array **unidimensional** donde cada elemento tiene un nombre (índice, no necesariamente numérico)
s = pd.Series([7, 18, 22, 4], index=["Juan", "Emilio", "Rosa", "Tania"])

In [ ]:
s

Juan       7
Emilio    18
Rosa      22
Tania      4
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

Index(['Juan', 'Emilio', 'Rosa', 'Tania'], dtype='object')

In [ ]:
s["Juan"]

7

In [ ]:
pop = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
pop

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
pop["Ohio"]

35000

In [ ]:
type(pop)

dict

In [ ]:
populations = pd.Series(pop)

In [ ]:
type(populations)

pandas.core.series.Series

In [ ]:
populations

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
populations["Ohio"]

35000

In [ ]:
populations * 1.06 ** 2

Ohio      39326.0
Texas     79775.6
Oregon    17977.6
Utah       5618.0
dtype: float64

In [ ]:
populations > 10000

Ohio       True
Texas      True
Oregon     True
Utah      False
dtype: bool

In [ ]:
populations[populations > 10000]

Ohio      35000
Texas     71000
Oregon    16000
dtype: int64

In [7]:
import numpy as np

In [ ]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, np.nan]
}

In [ ]:
type(data)

dict

In [ ]:
#Dataframe
df = pd.DataFrame(data)

In [ ]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  NaN

In [ ]:
datos = [
    {
        'nombre': 'Fer',
        'apellido': 'Castro',
        'email': 'fer.castro@gmail.com',
        'edad': 30,
    },
    {
        'nombre': 'Ana',
        'apellido': 'García',
        'email': 'ana.garcia@hotmail.com',
        'edad': 34,
    },
    {
        'nombre': 'Juan',
        'apellido': 'Lopez',
        'email': 'juan.lopez@gmail.com',
        'edad': 26,
    }
]

In [ ]:
type(datos)

list

In [ ]:
len(datos)

3

In [ ]:
df2 = pd.DataFrame(datos)

In [ ]:
df2

  nombre apellido                   email  edad
0    Fer   Castro    fer.castro@gmail.com    30
1    Ana   García  ana.garcia@hotmail.com    34
2   Juan    Lopez    juan.lopez@gmail.com    26

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/Titanic.txt")

In [ ]:
df.shape

(1309, 14)

In [ ]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [9]:
cars = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Data/cars.xlsx")

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [79]:
cars2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Data/cars.xlsx", sheet_name="metadata-cars")

In [80]:
cars2.head()

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars.tail()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,42573,2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,26135,24641,1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,35145,33112,2.5,5.0,208,20,27,3823,109,186

In [ ]:
cars.shape

(428, 15)

In [ ]:
cars.sample(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
386,Toyota,Camry LE V6 4dr,Sedan,Asia,Front,22775,20325,3.0,6.0,210,21,29,3296,107,189
92,Chrysler,Sebring 4dr,Sedan,USA,Front,19090,17805,2.4,4.0,150,22,30,3173,108,191
413,Volkswagen,Jetta GL,Wagon,Europe,Front,19005,17427,2.0,4.0,115,24,30,3034,99,174
285,Mercury,Sable GS,Wagon,USA,Front,22595,20748,3.0,6.0,155,19,26,3488,109,198
36,BMW,330Ci convertible 2dr,Sedan,Europe,Rear,44295,40530,3.0,6.0,225,19,28,3616,107,177

In [ ]:
cars.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [ ]:
cars.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP             int64
Invoice          int64
EngineSize     float64
Cylinders      float64
Horsepower       int64
MPG_City         int64
MPG_Highway      int64
Weight           int64
Wheelbase        int64
Length           int64
dtype: object

In [ ]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    int64
 6   Invoice      428 non-null    int64
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG_City     428 non-null    int64
 11  MPG_Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheelbase    428 non-null    int64
 14  Length       428 non-null    int64
dtypes: float64(2), int64(8), object(5)
memory usage: 50.3+ KB

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars.describe()

,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,428.000000,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,32774.855140,30014.700935,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,19431.716674,17642.117750,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,10280.000000,9875.000000,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,20334.250000,18866.000000,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,27635.000000,25294.500000,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,39205.000000,35710.250000,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,192465.000000,173560.000000,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [ ]:
type(cars)

pandas.core.frame.DataFrame

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars.MPG_Highway.max()

66

In [ ]:
cars.MPG_Highway.min()

12

In [ ]:
cars.MPG_Highway.mean()

26.843457943925234

In [ ]:
cars.MPG_Highway.quantile(0.9)

33.30000000000001

In [ ]:
cars.MPG_Highway.quantile(0.1)

20.0

In [ ]:
cars.Weight.quantile([0, 0.01, 0.1, 0.25, 0.5, 0.75, 0.9, 0.99, 1])

0.00    1850.00
0.01    2211.20
0.10    2678.70
0.25    3104.00
0.50    3474.50
0.75    3977.75
0.90    4494.40
0.99    5824.73
1.00    7190.00
Name: Weight, dtype: float64

In [ ]:
cars.Weight.sum() // 1000 #Paso a Kg

1531

In [ ]:
cars["Type"].value_counts().sort_index()

Hybrid      3
SUV        60
Sedan     262
Sports     49
Truck      24
Wagon      30
Name: Type, dtype: int64

In [ ]:
cars.Cylinders.value_counts()

6.0     190
4.0     136
8.0      87
5.0       7
12.0      3
10.0      2
3.0       1
Name: Cylinders, dtype: int64

In [11]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars.sort_values("MPG_City", ascending=False).head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,19110,17911,2.0,3.0,73,60,66,1850,95,155
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,Front,20510,18926,1.5,4.0,110,59,51,2890,106,175
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,Front,20140,18451,1.4,4.0,93,46,51,2732,103,175
404,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,21055,19638,1.9,4.0,100,38,46,3003,99,172
155,Honda,Civic HX 2dr,Sedan,Asia,Front,14170,12996,1.7,4.0,117,36,44,2500,103,175

In [ ]:
cars.Cylinders.unique()

array([ 6.,  4.,  8., 10.,  3., nan, 12.,  5.])

In [ ]:
cars.Cylinders.nunique()

7

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
pd.crosstab(cars.Cylinders, cars.Origin)

Origin     Asia  Europe  USA
Cylinders
3.0           1       0    0
4.0          74      25   37
5.0           0       7    0
6.0          69      54   67
8.0          12      34   41
10.0          0       0    2
12.0          0       3    0

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars[['MPG_City', 'Cylinders', 'Horsepower']].head()

   MPG_City  Cylinders  Horsepower
0        17        6.0         265
1        24        4.0         200
2        22        4.0         200
3        20        6.0         270
4        18        6.0         225

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars.MPG_City > 20

0      False
1       True
2       True
3      False
4      False
       ...
423     True
424    False
425    False
426     True
427    False
Name: MPG_City, Length: 428, dtype: bool

In [ ]:
(cars.MPG_City > 20).sum()

145

In [ ]:
cars[cars.MPG_City > 20].shape

(145, 15)

In [ ]:
cars.shape

(428, 15)

In [ ]:
cars[cars.MPG_City > 20].head(10)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,25940,23508,1.8,4.0,170,22,31,3252,104,179
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,35940,32506,1.8,4.0,170,23,30,3638,105,180
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,40590,36739,3.2,6.0,250,21,29,3351,96,159
44,BMW,Z4 convertible 3.0i 2dr,Sports,Europe,Rear,41045,37575,3.0,6.0,225,21,29,2998,98,161
67,Chevrolet,Aveo 4dr,Sedan,USA,Front,11690,10965,1.6,4.0,103,28,34,2370,98,167
68,Chevrolet,Aveo LS 4dr hatch,Sedan,USA,Front,12585,11802,1.6,4.0,103,28,34,2348,98,153
69,Chevrolet,Cavalier 2dr,Sedan,USA,Front,14610,13697,2.2,4.0,140,26,37,2617,104,183
70,Chevrolet,Cavalier 4dr,Sedan,USA,Front,14810,13884,2.2,4.0,140,26,37,2676,104,183

In [ ]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [ ]:
cars["Type"].str.contains("SUV")

0       True
1      False
2      False
3      False
4      False
       ...
423    False
424    False
425    False
426    False
427    False
Name: Type, Length: 428, dtype: bool

In [ ]:
cars[cars["Type"].str.contains("SUV")].head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
26,BMW,X3 3.0i,SUV,Europe,All,37000,33873,3.0,6.0,225,16,23,4023,110,180
27,BMW,X5 4.4i,SUV,Europe,All,52195,47720,4.4,8.0,325,16,22,4824,111,184
46,Buick,Rainier,SUV,USA,All,37895,34357,4.2,6.0,275,15,21,4600,113,193
47,Buick,Rendezvous CX,SUV,USA,Front,26545,24085,3.4,6.0,185,19,26,4024,112,187

In [ ]:
cars[cars["Type"].str.contains("SUV")].shape

(60, 15)

In [ ]:
cars[~cars["Type"].str.contains("SUV")].shape #~ Para negar

(368, 15)

In [12]:
cars[~cars["Type"].str.contains("SUV")].head() #~ Para negar

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,46100,41100,3.5,6.0,225,18,24,3893,115,197

In [13]:
cars[(cars.MPG_Highway > 24) & (cars.Weight > 3500)].head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,35940,32506,1.8,4.0,170,23,30,3638,105,180
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,33430,30366,3.0,6.0,220,17,26,3583,104,179
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,34480,31388,3.0,6.0,220,18,25,3627,104,179
12,Audi,A6 3.0 4dr,Sedan,Europe,Front,36640,33129,3.0,6.0,220,20,27,3561,109,192

In [14]:
cars[(cars.MPG_Highway > 30) | (cars.Weight > 3500)].head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,46100,41100,3.5,6.0,225,18,24,3893,115,197

In [16]:
cars[cars.Cylinders.isin([3, 5])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,19110,17911,2.0,3.0,73,60,66,1850,95,155
418,Volvo,S60 2.5 4dr,Sedan,Europe,All,31745,29916,2.5,5.0,208,20,27,3903,107,180
419,Volvo,S60 T5 4dr,Sedan,Europe,Front,34845,32902,2.3,5.0,247,20,28,3766,107,180
420,Volvo,S60 R 4dr,Sedan,Europe,All,37560,35382,2.5,5.0,300,18,25,3571,107,181
422,Volvo,S80 2.5T 4dr,Sedan,Europe,All,37885,35688,2.5,5.0,194,20,27,3691,110,190
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,20,26,3450,105,186
427,Volvo,XC70,Wagon,Europe,All,35145,33112,2.5,5.0,208,20,27,3823,109,186

In [17]:
cars.Horsepower.mean()

215.8855140186916

In [18]:
cars.Horsepower.median()

210.0

In [19]:
cars[cars.Horsepower > cars.Horsepower.mean()][["Make", "Model", "Cylinders"]]

      Make                     Model  Cylinders
0    Acura                       MDX        6.0
3    Acura                    TL 4dr        6.0
4    Acura                3.5 RL 4dr        6.0
5    Acura   3.5 RL w/Navigation 4dr        6.0
6    Acura    NSX coupe 2dr manual S        6.0
..     ...                       ...        ...
416  Volvo                   XC90 T6        6.0
419  Volvo                S60 T5 4dr        5.0
420  Volvo                 S60 R 4dr        5.0
424  Volvo   C70 HPT convertible 2dr        5.0
425  Volvo                S80 T6 4dr        6.0

[188 rows x 3 columns]

In [20]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [21]:
cars.iloc[0]

Make           Acura
Model            MDX
Type             SUV
Origin          Asia
DriveTrain       All
MSRP           36945
Invoice        33337
EngineSize       3.5
Cylinders        6.0
Horsepower       265
MPG_City          17
MPG_Highway       23
Weight          4451
Wheelbase        106
Length           189
Name: 0, dtype: object

In [22]:
cars.iloc[:3]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183

In [23]:
# df.iloc[fila_inicial: fila_final]
cars.iloc[50:55]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
50,Buick,Regal LS 4dr,Sedan,USA,Front,24895,22835,3.8,6.0,200,20,30,3461,109,196
51,Buick,Regal GS 4dr,Sedan,USA,Front,28345,26047,3.8,6.0,240,18,28,3536,109,196
52,Buick,LeSabre Limited 4dr,Sedan,USA,Front,32245,29566,3.8,6.0,205,20,29,3591,112,200
53,Buick,Park Avenue 4dr,Sedan,USA,Front,35545,32244,3.8,6.0,205,20,29,3778,114,207
54,Buick,Park Avenue Ultra 4dr,Sedan,USA,Front,40720,36927,3.8,6.0,240,18,28,3909,114,207

In [24]:
# df.iloc[fila_inicial: fila_final, columna_inicial: columna_final]
cars.iloc[50:55, 1:3]

                     Model   Type
50            Regal LS 4dr  Sedan
51            Regal GS 4dr  Sedan
52     LeSabre Limited 4dr  Sedan
53         Park Avenue 4dr  Sedan
54   Park Avenue Ultra 4dr  Sedan

In [27]:
cars = cars.sort_values("Make")

In [28]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183

In [29]:
cars.iloc[2]

Make                     Acura
Model           RSX Type S 2dr
Type                     Sedan
Origin                    Asia
DriveTrain               Front
MSRP                     23820
Invoice                  21761
EngineSize                 2.0
Cylinders                  4.0
Horsepower                 200
MPG_City                    24
MPG_Highway                 31
Weight                    2778
Wheelbase                  101
Length                     172
Name: 1, dtype: object

In [30]:
cars.loc[2]

Make              Acura
Model           TSX 4dr
Type              Sedan
Origin             Asia
DriveTrain        Front
MSRP              26990
Invoice           24647
EngineSize          2.4
Cylinders           4.0
Horsepower          200
MPG_City             22
MPG_Highway          29
Weight             3230
Wheelbase           105
Length              183
Name: 2, dtype: object

In [31]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183

In [37]:
cars["es_lardo"] = cars.Weight > 3500

In [33]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174,False
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False

In [38]:
cars["es_lardo_2"] = cars.Weight[cars.Weight > 3500]

In [39]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174,False,NaN
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN

In [41]:
cars[cars.es_lardo]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,46100,41100,3.5,6.0,225,18,24,3893,115,197,True,3893.0
14,Audi,A4 3.0 convertible 2dr,Sedan,Europe,Front,42490,38325,3.0,6.0,220,20,27,3814,105,180,True,3814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,XC70,Wagon,Europe,All,35145,33112,2.5,5.0,208,20,27,3823,109,186,True,3823.0
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,42573,2.9,6.0,268,19,26,3653,110,190,True,3653.0
418,Volvo,S60 2.5 4dr,Sedan,Europe,All,31745,29916,2.5,5.0,208,20,27,3903,107,180,True,3903.0
421,Volvo,S80 2.9 4dr,Sedan,Europe,Front,37730,35542,2.9,6.0,208,20,28,3576,110,190,True,3576.0
422,Volvo,S80 2.5T 4dr,Sedan,Europe,All,37885,35688,2.5,5.0,194,20,27,3691,110,190,True,3691.0

In [42]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174,False,NaN
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN

In [43]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428 entries, 4 to 426
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    int64
 6   Invoice      428 non-null    int64
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG_City     428 non-null    int64
 11  MPG_Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheelbase    428 non-null    int64
 14  Length       428 non-null    int64
 15  es_lardo     428 non-null    bool
 16  es_lardo_2   202 non-null    float64
dtypes: bool(1), float64(3), int64(8), object(5)
memory usage: 73.4+ KB

In [48]:
cars[cars.es_lardo_2.isna()]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174,False,NaN
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,25940,23508,1.8,4.0,170,22,31,3252,104,179,False,NaN
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,40590,36739,3.2,6.0,250,21,29,3351,96,159,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,Volkswagen,Passat GLS 1.8T,Wagon,Europe,Front,24955,22801,1.8,4.0,170,22,31,3338,106,184,False,NaN
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,20,26,3450,105,186,False,NaN
417,Volvo,S40 4dr,Sedan,Europe,Front,25135,23701,1.9,4.0,170,22,29,2767,101,178,False,NaN
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,21,28,3450,105,186,False,NaN
426,Volvo,V40,Wagon,Europe,Front,26135,24641,1.9,4.0,170,22,29,2822,101,180,False,NaN

In [49]:
cars.isna().any()

Make           False
Model          False
Type           False
Origin         False
DriveTrain     False
MSRP           False
Invoice        False
EngineSize     False
Cylinders       True
Horsepower     False
MPG_City       False
MPG_Highway    False
Weight         False
Wheelbase      False
Length         False
es_lardo       False
es_lardo_2      True
dtype: bool

In [50]:
cars.isna().any(axis=1)

4      False
6       True
1       True
3      False
2       True
       ...
418    False
421    False
422    False
423     True
426     True
Length: 428, dtype: bool

In [51]:
cars[cars.isna().any(axis=1)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,79978,3.2,6.0,290,17,24,3153,100,174,False,NaN
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,25940,23508,1.8,4.0,170,22,31,3252,104,179,False,NaN
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,40590,36739,3.2,6.0,250,21,29,3351,96,159,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,Volkswagen,Passat GLS 1.8T,Wagon,Europe,Front,24955,22801,1.8,4.0,170,22,31,3338,106,184,False,NaN
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,20,26,3450,105,186,False,NaN
417,Volvo,S40 4dr,Sedan,Europe,Front,25135,23701,1.9,4.0,170,22,29,2767,101,178,False,NaN
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,21,28,3450,105,186,False,NaN
426,Volvo,V40,Wagon,Europe,Front,26135,24641,1.9,4.0,170,22,29,2822,101,180,False,NaN

In [53]:
cars = cars.sort_index()

In [54]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0

In [55]:
cars.fillna(0).head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,0.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,0.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0

In [57]:
cars.fillna(cars.mean()).head() # relleno con la media

<ipython-input-57-aa30e6d8ecda>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cars.fillna(cars.mean()).head() # relleno con la media

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.00000
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,4181.90099
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,4181.90099
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.00000
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.00000

In [59]:
#borrar columnas
cars.drop("DriveTrain", axis=1).head()

,Make,Model,Type,Origin,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
0,Acura,MDX,SUV,Asia,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.0
1,Acura,RSX Type S 2dr,Sedan,Asia,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
2,Acura,TSX 4dr,Sedan,Asia,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN
3,Acura,TL 4dr,Sedan,Asia,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
4,Acura,3.5 RL 4dr,Sedan,Asia,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0

In [60]:
# borrar filas
cars[cars.es_lardo_2.notna()].head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,46100,41100,3.5,6.0,225,18,24,3893,115,197,True,3893.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,35940,32506,1.8,4.0,170,23,30,3638,105,180,True,3638.0

In [61]:
cars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,es_lardo,es_lardo_2
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189,True,4451.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172,False,NaN
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183,False,NaN
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186,True,3575.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197,True,3880.0

In [62]:
cars.groupby('Cylinders').MPG_Highway.mean() #agrupar

Cylinders
3.0     66.000000
4.0     31.889706
5.0     26.857143
6.0     25.552632
8.0     21.885057
10.0    16.500000
12.0    19.000000
Name: MPG_Highway, dtype: float64

In [64]:
cars2.head()

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan

In [90]:
def get_first_word(sentence):
    words = sentence.split()

    return words[0]

In [91]:
get_first_word("hola me llamo mariano")

'hola'

In [92]:
def get_first_word2(sentence):
    words = sentence.split()

    return words[3]

In [93]:
get_first_word2("hola me llamo mariano")

'mariano'

In [69]:
def is_bisiest(year):
    if year % 4 == 0:
        return True
    else:
        return False

In [75]:
is_bisiest(2024)

True

In [89]:
cars2.head()

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District,is_bisiest
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir,False
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris,False
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe,True
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt,True
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan,True

In [94]:
cars2["is_bisiest"] = cars2["Model"].apply(is_bisiest)

In [95]:
cars2.head()

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District,is_bisiest
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir,False
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris,False
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe,True
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt,True
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan,True

In [96]:
cars2["Car2"] = cars2["Car"].apply(get_first_word)

In [100]:
cars2.head()

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District,is_bisiest,Car2
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir,False,Alfa
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris,False,Alfa
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe,True,Alfa
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt,True,Alfa
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan,True,Alfa

In [101]:
"""
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
"""

"\ndf.head()                     # printea la cabeza, por defecto 5 filas\ndf.tail()                     # pritea la cola, por defecto 5 filas\ndf.describe()                 # descripcion estadistica\ndf.info()                     # informacion del df\ndf.info(memory_usage='deep')\ndf.columns                    # muestra columna\ndf.index                      # muestra indice\ndf.dtypes                     # muestra tipos de datos de las columnas\ndf.plot()                     # hace un grafico\ndf.hist()                     # hace un histograma\ndf.col.value_counts()         # cuenta los valores unicos de una columna\ndf.col.unique()               # muestra valores unicos de una columna\ndf.copy()                     # copia el df\ndf.drop()                     # elimina columnas o filas (axis=0,1)\ndf.dropna()                   # elimina nulos\ndf.fillna()                   # rellena nulos\ndf.shape                      # dimensiones del df\ndf._get_numeric_data()        # selecciona columnas numericas\ndf.rename()                   # renombre columnas\ndf.str.replace()              # reemplaza columnas de strings\ndf.astype(dtype='float32')    # cambia el tipo de dato\ndf.iloc[]                     # localiza por indice\ndf.loc[]                      # localiza por elemento\ndf.transpose()                # transpone el df\ndf.T\ndf.sample(n, frac)            # muestra del df\ndf.col.sum()                  # suma de una columna\ndf.col.max()                  # maximo de una columna\ndf.col.min()                  # minimo de una columna\ndf[col]                       # selecciona columna\ndf.col\ndf.isnull()                   # valores nulos\ndf.isna()\ndf.notna()                    # valores no nulos\ndf.drop_duplicates()          # eliminar duplicados\ndf.reset_index(inplace=True)  # resetea el indice y sobreescribe\n"